
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightblue; */
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
}

.box{
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    font-family: "Noto Sans Display", sans-serif;
    /* justify-content: center; */
}


h1{
    width: 20ch;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(16) infinite alternate-reverse;
}
@keyframes typing {
    from{
        width: 0ch;
    }
}

